server {
    listen 80;
    server_name {{ item.server_name }};

    location /.well-known/acme-challenge {
        root {{ item.root }};
        try_files $uri $uri/ =404;
    }

    location / {
        rewrite ^ https://{{ item.domain }}$request_uri? permanent;
    }
}
