[{{ item.user }}]
user = {{ item.user }}
group = {{ item.user }}
listen = /run/php/php7.2-fpm-{{ item.user }}.sock
listen.owner = www-data
listen.group = www-data
pm = dynamic
pm.max_children = 5
pm.start_servers = 2
pm.min_spare_servers = 1
pm.max_spare_servers = 3
